<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="/shop/1/">
                <span class="am-icon-navicon"></span>
                <span class="am-navbar-label">商品</span>
            </a>
        </li>
        <li>
            <a href="/shopping_cart/">
                <span class="am-icon-shopping-cart" id="shopping_cart_icon"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li>
            <a href="/user_center/">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">个人中心</span>
            </a>
        </li>
        <li>
            <a href="http://tongchidao.me">
                <span class="am-icon-mobile"></span>
                <span class="am-navbar-label">APP</span>
            </a>
        </li>

    </ul>
</div>