<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="tel:123456789">
        <span class="am-icon-navicon"></span>
        <span class="am-navbar-label">商品</span>
      </a>
    </li>
    <li data-am-navbar-share>
      <a href="###">
        <span class="am-icon-shopping-cart"></span>
        <span class="am-navbar-label">购物车</span>
      </a>
    </li>
    <li data-am-navbar-qrcode>
      <a href="###">
        <span class="am-icon-user"></span>
        <span class="am-navbar-label">个人中心</span>
      </a>
    </li>

  </ul>
</div>