{% extends "base.html" %}
{% block title %}
用户登录
{% endblock %}

{% block javascriptblock %}

{% endblock %}

{% block body %}

<div ms-controller="login">
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <hr>
            <h2>登录</h2>
            <hr>
            <div class="am-form">

                <label for="username">账号:</label>
                <input type="text" name="" id="username" ms-duplex="username" ms-on-blur="check_captcha">
                <br>
                <label for="password">密码:</label>
                <input type="password" name="" id="password" ms-duplex="password">
                <br/>

                <div ms-if="show_captcha">
                    <label for="captcha">验证码:</label>
                    <img ms-src="captcha_src" ms-click="refresh_captcha">
                    <span class="am-icon-refresh" ms-click="refresh_captcha"></span>
                    <input type="text" name="" id="captcha" maxlength="4" ms-duplex="captcha">
                    <br>
                </div>

                <div class="am-cf">
                    <button class="am-btn am-btn-primary am-btn-sm am-fl" ms-click="submit">登录</button>
                    <a class="am-btn am-btn-default am-btn-sm am-fr" href="/reset_password//">忘记密码</a>
                    <a class="am-btn am-btn-success am-btn-sm am-fr" ms-href="register_url">注册</a>
                </div>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-alert" id="login_alert">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"></div>
            <div class="am-modal-bd">
                {{  alert_content }}
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>
</div>
{% include 'foot.html' %}
<script>
    avalon.ready(function () {
        avalon.config({
            interpolate: ["{", "}"]
        });
        var vm = avalon.define({
            $id: "login",

            register_url: "/register/",

            username: "",
            password: "",
            captcha: "",
            alert_content: "",
            show_captcha: false,
            captcha_src: "/api/v1/captcha/",
            check_captcha: function () {
                $.ajax({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token());
                    },
                    url: "/api/v1/captcha/",
                    method: "post",
                    data: {username: vm.username},
                    dataType: "json",
                    success: function(json){
                        vm.show_captcha = json;
                    }
                });
            },
            refresh_captcha: function () {
                vm.captcha_src = "/captcha/?_dc=" + new Date().getTime().toString();
            },
            submit: function () {
                if (vm.username == "" || vm.password == "") {
                    vm.alert_content = "请输入账号和密码";
                    $('#login_alert').modal();
                }
                else if(vm.show_captcha && vm.captcha.length == 0){
                    vm.alert_content = "请输入验证码";
                    $('#login_alert').modal();
                }
                else {
                    $.ajax({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token());
                        },
                        data: {username: vm.username, password: vm.password, captcha: vm.captcha},
                        url: "/api/v1/login/",
                        method: "post",
                        success: function (data) {

                            if (data.status == "success") {
                                var from_url = getUrlParam("from");
                                if(from_url != null){
                                    window.location.href=from_url;
                                }
                                else{
                                    window.location.href="/";
                                }
                            }
                            else {
                                vm.alert_content = data.content;
                                if(vm.show_captcha) {
                                    vm.captcha = "";
                                    vm.refresh_captcha();
                                }
                                $('#login_alert').modal();
                            }
                        }
                    });
                }
            }
        });

        avalon.scan();

        vm.register_url = "/register/?from=" + getUrlParam("from");
    });

</script>
{% endblock %}