{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block javascriptblock %}

{% endblock %}

{% block body %}
    {% verbatim %}
    <div ms-controller="reset_password">
        <div class="am-g">
            <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
                <div class="am-form">

                    <label for="email">账号:</label>
                    <input type="email" name="" id="email" ms-duplex="username">
                    <br>
                    <label for="phone">历史手机号:</label>
                    <input type="text" name="" id="phone" ms-duplex="phone">
                    <br ms-if="show">
                    <label for="code" ms-if="show">手机验证码::</label>
                    <input type="text" name="" id="code" ms-duplex="code" ms-if="show">
                    <br ms-if="show">
                    <label for="password" ms-if="show">新密码:</label>
                    <input type="password" name="" id="password" ms-duplex="password" ms-if="show">

                    <div class="am-cf">
                        <button class="am-btn am-btn-primary am-btn-sm am-fl" ms-click="send_sms" ms-if="!show">发送验证短信</button>
                        <button class="am-btn am-btn-primary am-btn-sm am-fl" ms-click="reset_password" ms-if="show">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vm = avalon.define({
            $id: "reset_password",
            show: false,
            username: "",
            phone: "",
            code: "",
            password: "",
            send_sms: function () {
                if(vm.username == "" || vm.phone == ""){
                    alert("请输入用户名和手机号");
                    return;
                }
                $.ajax({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token());
                    },
                    url: "/api/v1/reset_password/sms/",
                    type: "post",
                    data: {username: vm.username, phone: vm.phone},
                    success: function(response){
                        alert("手机短信已经发送");
                        vm.show = true;
                    },
                    error: function(response){
                        alert("用户名或手机不存在，请联系客服！");
                    }

                })

            },
            reset_password: function(){
                if(vm.username == "" || vm.code == "" || vm.password == ""){
                    alert("请填写验证码和新密码");
                    return;
                }
                if(vm.password.length < 6){
                    alert("密码长度不能低于6");
                    return;
                }
                $.ajax({
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRFToken", csrf_token());
                    },
                    url: "/api/v1/reset_password/",
                    type: "post",
                    data: {username: vm.username, code: vm.code, password: vm.password},
                    success: function(){
                        alert("重置成功");
                        window.location.href="/login/"
                    },
                    error: function(){
                        alert("验证码错误，请重新申请验证码");
                    }
                })
            }
        });

    </script>
    {% endverbatim %}
    {% include 'foot.html' %}

{% endblock %}