{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block javascriptblock %}

{% endblock %}

{% block body %}
    <header data-am-widget="header" class="am-header am-header-default">
        <h1 class="am-header-title">
            <a href="#title-link" class="">我的订单</a>
        </h1>
    </header>

    {% verbatim %}
    <div ms-controller="order_list">

        <div data-am-widget="list_news" class="am-list-news am-list-news-default">
            <div class="am-list-news-bd">
                <ul class="am-list">
                    <li class="am-g am-list-item-desced" ms-repeat="order_list">
                        <a ms-href="'/my_order/?order_id=' + el.id"
                           class="am-list-item-hd ">
                            <span ms-html="order_title(el)"></span>

                        </a>

                        <div class="am-list-item-text">
                            总价：{{ el.total_price }}；{{ el.payment_status }}；{{ el.order_status }}
                        </div>
                    </li>

                </ul>
            </div>
        </div>



        <script>
            var vm = avalon.define({
                $id: "order_list",
                order_list: [],
                previous_url: "",
                next_url: "",
                order_title: function (order) {
                    if (order.order_products.length > 1) {
                        return order.order_products[0].name + "等" + order.order_products.length.toString() + "件商品";
                    }
                    else {
                        return order.order_products[0].name;
                    }
                },

                update_list: function(url){
                    init_info(url);
                }

            });

            function init_info(url) {
                $.ajax({
                    url: url,
                    method: "get",
                    dataType: "json",
                    success: function (json) {
                        vm.order_list = json.results;

                        if(json.previous != null) {

                            vm.pervious_url = json.previous;
                        }
                        else{
                            vm.previoud_url = "";
                        }

                        if(json.next != null) {

                            vm.next_url = json.previous;
                        }
                        else{
                            vm.next_url = "";
                        }
                    }

                });
            }

            init_info("/api/v1/order/?paging=true&limit=2&page=1");
        </script>
    </div>
    {% endverbatim %}
    {% include 'foot.html' %}

{% endblock %}