{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block javascriptblock %}

{% endblock %}

{% block body %}
    <header data-am-widget="header" class="am-header am-header-default">
        <h1 class="am-header-title">
            <a href="#title-link" class="">我的订单</a>
        </h1>
    </header>

    {% verbatim %}
    <div ms-controller="order_list">

        <div data-am-widget="list_news" class="am-list-news am-list-news-default">
            <div class="am-list-news-bd">
                <ul class="am-list">
                    <li class="am-g am-list-item-desced" ms-repeat="order_list">
                        <a ms-href="'/my_order/?order_id=' + el.id"
                           class="am-list-item-hd ">
                            <span ms-html="order_title(el)"></span>

                        </a>

                        <div class="am-list-item-text">
                            总价：{{ el.total_price }}；{{ el.payment_status }}；{{ el.order_status }}
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <ul data-am-widget="pagination" class="am-pagination am-pagination-default">
            <li class="am-pagination-prev" ms-click="show_prev" ms-if="has_prev">
                <a href="#">上一页</a>
            </li>
            <li class="am-pagination-next" ms-click="show_next" ms-if="has_next">
                <a href="#" class="">下一页</a>
            </li>
        </ul>


        <script>
            var vm = avalon.define({
                $id: "order_list",
                order_list: [],
                prev_url: "",
                next_url: "",
                has_prev: false,
                has_next: false,
                order_title: function (order) {
                    if (order.order_products.length > 1) {
                        return order.order_products[0].name + "等" + order.order_products.length.toString() + "件商品";
                    }
                    else {
                        return order.order_products[0].name;
                    }
                },

                show_prev: function(){
                    get_info(vm.prev_url);
                },
                show_next: function () {
                    get_info(vm.next_url);
                }

            });

            function get_info(url) {
                $.ajax({
                    url: url,
                    method: "get",
                    dataType: "json",
                    success: function (json) {
                        vm.order_list = json.results;
                        if (json.previous != null) {
                            vm.prev_url = json.previous;
                            vm.has_prev = true;
                        }
                        else {
                            vm.prev_url = "";
                            vm.has_prev = false;
                        }

                        if (json.next != null) {
                            vm.next_url = json.next;
                            vm.has_next = true;
                        }
                        else {
                            vm.next_url = "";
                            vm.has_next = false;
                        }
                    }

                });
            }
            get_info("/api/v1/order/?paging=true&limit=10&page=1");
        </script>
    </div>
    {% endverbatim %}
    {% include 'foot.html' %}

{% endblock %}