{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block javascriptblock %}

{% endblock %}

{% block body %}
    <script>
        var shop_id ={{ shop_id }};
    </script>
    {% verbatim %}
    <div ms-controller="index">
        <div class="am-slider am-slider-default" data-am-flexslider>
          <ul class="am-slides">
            <li ms-repeat="banner">
                <img ms-src="el"/>
            </li>
          </ul>
        </div>
        <div id="category" class="am-g">
            <nav data-am-widget="menu" class="am-menu  am-menu-default">
                <a href="javascript: void(0)" class="am-menu-toggle">
                    <i class="am-menu-toggle-icon am-icon-bars"></i>
                </a>
                <ul class="am-menu-nav am-avg-sm-5">
                    <li ms-class="am-parent:el.child_category.length" ms-repeat="category_list">
                        <a ms-href="#{{el.id}}">{{el.name}}</a>
                        <ul class="am-menu-sub am-collapse am-avg-sm-4">
                            <li class="" ms-repeat-item="el.child_category">
                                <a ms-href="#{{item.id}}">{{item.name}}</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </nav>
        </div>
        <div></div>
        <div ms-repeat="product_list" style="padding-left: 5px;padding-right: 5px">
            <div class="am-cf">
                <p class="am-align-left" ms-click="show_product_detail(el)">
                    <img src="https://tmimage.b0.upaiyun.com/14173400666.%E6%98%9F%E7%90%83%E6%9D%AF%20%E5%B0%8F.png"
                         alt=""/>
                </p>

                <div style="height: 70px;">
                    <p style="margin-bottom: 0;">{{el.name}}</p>
                    <span ms-html="el.price"></span><br>

                    <div class="am-btn-group am-btn-group-xs am-fr" ms-if="!el.is_virtual">
                        <button type="button" class="am-btn am-btn-primary" ms-click="del_from_cart(el)">
                            <span class="am-icon-minus"></span>
                        </button>
                        <button type="button" class="am-btn am-btn-primary">
                            {{ el.cart_num }}
                        </button>
                        <button type="button" class="am-btn am-btn-primary" ms-click="add_to_cart(el)">
                            <span class="am-icon-plus"></span>
                        </button>
                    </div>
                    <div class="am-btn-group am-btn-group-xs am-fr" ms-if="el.is_virtual"
                         ms-click="show_child_product(el)">
                        <button class="am-btn am-btn-primary">
                            <span class="am-icon-arrow-down"></span></button>
                    </div>
                <span class="am-fr" style="margin-right: 10px;">
                    <span class="am-badge am-badge-secondary">已售 {{el.sold_num}}</span>
                </span>


                </div>

            </div>

        </div>


        <div class="am-modal am-modal-no-btn" tabindex="-1" id="modal">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">&nbsp;
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd" id="modal_content" ms-html="modal_content">

                </div>
            </div>
        </div>
        <div class="am-modal am-modal-alert" id="alert">
            <div class="am-modal-dialog">
                <div class="am-modal-hd"></div>
                <div class="am-modal-bd" ms-html="alert_content">
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn">确定</span>
                </div>
            </div>
        </div>
        <div class="am-g price-bar">
            <div class="am-u-sm-8" style="margin-top: 13px;margin-bottom: 5px">
                <span style="color:white"><span ms-if="freight!=0">运费:{{ freight }}元 </span>合计:{{total_price}}元</span>
            </div>
            <div class="am-u-sm-3" style="margin-top: 5px;margin-bottom: 5px">
                <button type="button" class="am-btn am-btn-success" ms-attr-disabled="submit_button_disabled"
                        onclick="window.location.href='/order/?source=index'">快速提交
                </button>
            </div>
            <div class="am-u-sm-1"></div>

        </div>
        <script>
            $.AMUI.progress.start();
            var vm = avalon.define({
                $id: "index",
                product_list: [],
                modal_content: "",
                alert_content: "",
                category_list: [],
                banner: [],
                shop_info: {},
                total_price: 0,
                total_number: 0,

                freight: "0",

                submit_button_disabled: "disabled",

                show_product_detail: function (product) {
                    show_modal(product.introduction);
                    $.ajax({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token());
                        },
                        url: "/log/",
                        method: "post",
                        data: {log_type: "show_product_detail", product_id: product.id}
                    });
                },

                add_to_cart: function (product) {
                    product.cart_num += 1;
                    $.ajax({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token());
                        },
                        url: "/api/v1/shopping_cart/",
                        method: "post",
                        dataType: "json",
                        data: {"product_id": product.id, number: 1, shop_id: get_cookie("default_shop_id")},
                        success: function (json) {
                            vm.total_price = json.total_price;
                            vm.total_number = json.total_number;
                            vm.freight = json.freight;
                        }
                    });
                    shake_cart();
                },
                del_from_cart: function (product) {
                    if(product.cart_num == 0){
                        return;
                    }
                    shake_cart();

                    product.cart_num -= 1;
                    $.ajax({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token());
                        },
                        url: "/api/v1/shopping_cart/",
                        method: "post",
                        dataType: "json",
                        data: {"product_id": product.id, number: -1, shop_id: get_cookie("default_shop_id")},
                        success: function (json) {
                            vm.total_price = json.total_price;
                            vm.total_number = json.total_number;
                            vm.freight = json.freight;
                        }
                    });
                }
            });

            vm.$watch("total_price", function(new_value, old_value){
               if(new_value > 0){
                   vm.submit_button_disabled = "";
               }
               else{
                   vm.submit_button_disabled = "disabled";
               }
           });

            function get_cart_num(product_list) {
                var list = [];
                for (var i = 0; i < product_list.length; i++) {
                    list.push(product_list[i].id);
                }

                $.ajax({
                    url: "/api/v1/shopping_cart/?data=cart_num&_dc=" + new Date().getTime().toString() +
                    "&product_list=" + JSON.stringify(list) + "&shop_id=" + shop_id.toString(),
                    method: "get",
                    success: function (json) {
                        for (var i = 0; i < vm.product_list.length; i++) {
                            vm.product_list[i]["cart_num"] = json[i];
                            //console.log(vm.product_list[i].cart_num);
                        }
                        get_cart_data();
                    }
                })
            }

            // 当点击分类的时候修改hash 触发update ajax刷新产品页面
            function update_product_list(category_id) {
                if (category_id == "init" || category_id == "") {
                    $.ajax({
                        url: "/api/v1/product/?category_id=4",
                        method: "get",
                        dataType: "json",
                        success: function (json) {
                            for(var i=0; i<json.length;i++){
                                json[i]["cart_num"] = 0;
                            }
                            vm.product_list = json;
                            get_cart_num(json);
                        }
                    });
                }
                else {
                    $.AMUI.progress.start();
                    //alert("update" + category_id);
                    $.ajax({
                        url: "/api/v1/product/?category_id=" + category_id.toString(),
                        method: "get",
                        dataType: "json",
                        success: function (json) {
                            for(var i=0; i<json.length;i++){
                                json[i]["cart_num"] = 0;
                            }
                            vm.product_list = json;
                            get_cart_num(json);
                            $.AMUI.progress.done();
                        }
                    });
                }

            }

            //获取下面购物车的总价和总数量
            function get_cart_data() {
                $.ajax({
                    url: "/api/v1/shopping_cart/?shop_id=" + get_cookie("default_shop_id"),
                    method: "get",
                    dataType: "json",
                    success: function (json) {
                        vm.total_price = json.total_price;
                        vm.total_number = json.total_number;
                        vm.freight = json.freight;
                    }
                });
            }


            function show_modal(content) {
                vm.modal_content = content;
                $("#modal").modal();
            }

            function show_alert(content) {
                vm.alert_content = content;
                $("#alert").modal();
            }

            window.onhashchange = function () {
                //console.log(window.location.hash.substring(1));
                update_product_list(window.location.hash.substring(1));
            };

            //加载分类列表
            $.ajax({
                url: "/api/v1/category/?shop_id=1",
                method: "get",
                dataType: "json",
                success: function (json) {
                    vm.category_list = json;
                    update_product_list("init");
                    $.each(['menu', 'collapse'], function (i, m) {
                        var module = $.AMUI[m];
                        module && module.init && module.init();
                    });
                    $.AMUI.progress.done();
                }
            });

            //加载店铺基本信息
            $.ajax({
                url: "/api/v1/shop/?shop_id=" + get_cookie("default_shop_id"),
                method: "get",
                success: function (json) {
                    vm.shop_info = json;
                    vm.banner = json.banner;
                }
            });

            get_cart_data();

            var default_shop_id = get_cookie("default_shop_id");
            if (default_shop_id != shop_id.toString()){
                window.location.href="/";
            }

            //获取用户的信息
            $.AMUI.progress.done();
        </script>
    </div>
    {% endverbatim %}
    {% include 'foot.html' %}

{% endblock %}