{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block javascriptblock %}

{% endblock %}

{% block body %}
{% verbatim %}
<div ms-controller="index">
    <div id="category" class="am-g">
        <nav data-am-widget="menu" class="am-menu  am-menu-default">
            <a href="javascript: void(0)" class="am-menu-toggle">
                <i class="am-menu-toggle-icon am-icon-bars"></i>
            </a>
            <ul class="am-menu-nav am-avg-sm-5">
                <li ms-class="am-parent:el.child_category.length" ms-repeat="category_list">
                    <a ms-href="#{{el.id}}">{{el.name}}</a>
                    <ul class="am-menu-sub am-collapse am-avg-sm-4">
                        <li class="" ms-repeat-item="el.child_category">
                            <a ms-href="#{{item.id}}">{{item.name}}</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </nav>
    </div>
    <div></div>
    <div ms-repeat="product_list" style="padding-left: 5px;padding-right: 5px">
        <div class="am-cf">
            <p class="am-align-left" ms-click="show_product_detail(el)">
                <img src="https://tmimage.b0.upaiyun.com/14173400666.%E6%98%9F%E7%90%83%E6%9D%AF%20%E5%B0%8F.png"
                     alt=""/>
            </p>

            <div style="height: 70px;">
                <p style="margin-bottom: 0;">{{el.name}}</p>
                <span ms-html="el.simple_introduction_top"></span><br>

                <div class="am-btn-group am-btn-group-xs am-fr" ms-if="show_child_product(el)">
                    <button type="button" class="am-btn am-btn-primary" ms-click="del_from_cart(el)">
                        <span class="am-icon-minus"></span>
                    </button>
                    <button type="button" class="am-btn am-btn-primary">
                        {{ el.cart_num }}
                    </button>
                    <button type="button" class="am-btn am-btn-primary" ms-click="add_to_cart(el)">
                        <span class="am-icon-plus"></span>
                    </button>
                </div>
                <div class="am-btn-group am-btn-group-xs am-fr" ms-if="!show_child_product(el)" ms-click="visible_child_product(el)">
                    <button class="am-btn am-btn-primary">
                        <span class="am-icon-arrow-down"></span></button>
                </div>
            <span class="am-fr" style="margin-right: 10px;">
                <span class="am-badge am-badge-secondary">已售 {{el.bought_num}}</span>
            </span>
            </div>
            <ul class="am-list" ms-if="!show_child_product(el)" ms-visible="el.child_product_visible">
              <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
              <li><a href="#">我把最深沉的秘密放在那里。</a></li>
              <li><a href="#">你不懂我，我不怪你。</a></li>
              <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
            </ul>
            <hr>
        </div>

    </div>


    <div class="am-modal am-modal-no-btn" tabindex="-1" id="modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">&nbsp;
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" id="modal_content" ms-html="modal_content">

            </div>
        </div>
    </div>
    <script>
        $.AMUI.progress.start();
        var vm = avalon.define({
            $id: "index",
            product_list: [],
            modal_content: "",
            category_list: [],
            show_product_detail: function (product) {
                show_modal(product.introduction);
            },
            show_child_product: function (product) {
                return product.child_product.length == 0;
            },
            visible_child_product: function(product){
                console.log("click");
              for(var i in vm.product_list){
                  if(vm.product_list[i].id == product.id){
                      vm.product_list[i].child_product_visible = true;
                  }
              }
            },


            add_to_cart: function (product) {
                if (product.max_num == -1 || product.cart_num < product.max_num) {
                    product.cart_num += 1;
                    $.ajax({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token());
                        },
                        url: "/shopping_cart/",
                        method: "post",
                        dataType: "json",
                        data: {"product_id": product.id, operation: 1},
                        success: function (json) {
                            if (json.status != "success") {
                                show_modal('<div class="am-alert am-alert-danger" data-am-alert>' + json.content + '</div>');
                                product.cart_num -= 1;
                            }
                        }
                    });
                    shake_cart();
                }
                else if (product.max_num == 0) {
                    show_modal('<div class="am-alert am-alert-danger" data-am-alert>该商品暂时不能购买</div>');
                }
                else {
                    show_modal('<div class="am-alert am-alert-danger" data-am-alert>该商品最多只能购买' +
                    product.max_num.toString() + "件 </div>");
                }
            },
            del_from_cart: function (product) {
                if (product.cart_num >= 1) {
                    shake_cart();
                    product.cart_num -= 1;
                    $.ajax({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token());
                        },
                        url: "/shopping_cart/",
                        method: "post",
                        dataType: "json",
                        data: {"product_id": product.id, operation: -1}
                    });
                }
            }
        });
        $("show_collapse").collapse();

        function get_cart_num(product_list) {
            var list = [];
            for (var i in product_list) {
                list.push(product_list[i].id)
            }
            $.ajax({
                url: "/shopping_cart/?operation=get_cart_num&_dc=" + new Date().getTime().toString() + "&product_list=" + JSON.stringify(list),
                method: "get",
                success: function (json) {
                    console.log(json);
                    for (var i in json) {
                        vm.product_list[i]["cart_num"] = json[i];
                    }
                }
            })
        }

        // 当点击分类的时候修改hash 触发update ajax刷新产品页面
        function update_product_list(category_id) {
            if (category_id == "init" || category_id == "") {
                $.ajax({
                    url: "/product/?category=2",
                    method: "get",
                    dataType: "json",
                    success: function (json) {
                        vm.product_list = json;sdo
                        get_cart_num(json);
                    }
                });
            }
            else {
                $.AMUI.progress.start();
                //alert("update" + category_id);
                console.log("change product list success");
                $.ajax({
                    url: "/product/?category=" + category_id.toString(),
                    method: "get",
                    dataType: "json",
                    success: function (json) {
                        vm.product_list = json;
                        get_cart_num(json);
                        $.AMUI.progress.done();
                    }
                });
            }

        }


        function show_modal(content) {
            vm.modal_content = content;
            $("#modal").modal();
        }

        window.onhashchange = function () {
            console.log(window.location.hash.substring(1));
            update_product_list(window.location.hash.substring(1));
        };

        //加载分类列表
        $.ajax({
            url: "/category/?shop=1",
            method: "get",
            dataType: "json",
            success: function (json) {
                vm.category_list = json;
                update_product_list("init");
                $.each(['menu'], function (i, m) {
                    var module = $.AMUI[m];
                    module && module.init && module.init();
                });
                $.AMUI.progress.done();
            }
        });
        $.AMUI.progress.done();
    </script>
</div>
{% endverbatim %}
{% include 'foot.html' %}

{% endblock %}