{% extends "base.html" %}
{% block title %}

{% endblock %}


{% block cssblock %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/icheck_blue.css">
{% endblock %}

{% block javascriptblock %}
<script src="{{ STATIC_URL }}js/icheck.min.js"></script>
{% endblock %}
{% block body %}

{% verbatim %}
<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <a href="/shopping_cart/">
            <i class="am-header-icon am-icon-arrow-left"></i>购物车
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link">填写订单信息</a>
    </h1>

    <div class="am-header-right am-header-nav">
        <a href="#right-link" class="">
            <!--
            <i class="am-header-icon am-icon-trash"></i>
            -->
        </a>
    </div>
</header>
<div class="am-g">
    <div class="am-panel am-panel-default">
    <div class="am-panel-bd">共13件商品，合计12.23元</div>
</div>
    <form class="am-form">
        <fieldset>
            <div class="am-form-group">
                <label>支付方式</label>
                <input type="radio" name="icheck">货到付款
                <input type="radio" name="icheck">在线支付
            </div>

            <div class="am-form-group">
                <label>姓名</label>
                <input type="email" class="" placeholder="输入您的姓名">
            </div>

            <div class="am-form-group">
                <label>手机</label>
                <input type="text" class="" maxlength="11" placeholder="您的手机号码">
            </div>
            <div class="am-form-group">
                <label>地址</label>
                <input type="text" class="" placeholder="您的收货地址">
            </div>

            <div class="am-form-group">
                <label>备注</label>
                <input type="text" class="" placeholder="还有什么想说的">
            </div>

            <p>
                <button type="submit" class="am-btn am-btn-default">提交</button>
            </p>
        </fieldset>
    </form>
</div>
<script>
    $('input').iCheck({
        radioClass: 'icheckbox_square-blue'
    });
</script>
{% endverbatim %}


{% endblock %}