{% extends "base.html" %}
{% block title %}

{% endblock %}


{% block cssblock %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/icheck_blue.css">
{% endblock %}

{% block javascriptblock %}
<script src="{{ STATIC_URL }}js/icheck.min.js"></script>
    <script src="{{ STATIC_URL }}js/pingpp_pay.js"></script>
{% endblock %}
{% block body %}

{% verbatim %}
<div ms-controller="submit_order">
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="/shopping_cart/">
                <i class="am-header-icon am-icon-arrow-left"></i>购物车
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link">填写订单信息</a>
        </h1>

        <div class="am-header-right am-header-nav">
            <a href="#right-link" class="">
                <!--
                <i class="am-header-icon am-icon-trash"></i>
                -->
            </a>
        </div>
    </header>
    <div class="am-g">
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <p>共{{total_number}}件商品，合计{{total_price}}元</p>
                <p ms-if="vip_discount">会员优惠:{{ vip_discount_amount }}</p>
                <p ms-if="need_freight">运费:{{ freight }}元</p>
                <p ms-if="activity_discount"> 活动优惠:{{ activity_discount_amount }}元</p>
            </div>
        </div>
        <form class="am-form">
            <fieldset>
                <div class="am-form-group">
                    <label>支付方式</label>
                    <input type="radio" name="pay" value="alipay" id="alipay" checked>在线支付
                    <input type="radio" name="pay" value="COD" id="COD">货到付款
                </div>

                <div class="am-form-group">
                    <label>姓名</label>
                    <input type="text" class="" placeholder="输入您的姓名" ms-duplex="name" maxlength="20">
                </div>

                <div class="am-form-group">
                    <label>手机</label>
                    <input type="text" class="" maxlength="11" placeholder="您的手机号码" ms-duplex="phone">
                </div>
                <div class="am-form-group">
                    <label>地址</label>
                    <input type="text" class="" placeholder="您的收货地址" ms-duplex="address" maxlength="30">
                </div>

                <div class="am-form-group">
                    <label>备注</label>
                    <input type="text" class="" placeholder="还有什么想说的" ms-duplex="remark" maxlength="30">
                </div>
                <div class="am-form-group">
                    <label>送货时间</label>
                    <span ms-repeat="delivery_time">
                        <input type="checkbox" ms-attr-value="el" name="delivery_time" ms-duplex-checked="$index==0">{{el}}
                    </span>
                </div>


                <p>
                    <button type="button" class="am-btn am-btn-default" ms-click="submit_order">提交</button>
                </p>
            </fieldset>
        </form>
    </div>
    <div class="am-modal am-modal-alert" id="alert">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"></div>
            <div class="am-modal-bd" ms-html="alert_content">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-alert" tabindex="-1" id="pay_alert">
      <div class="am-modal-dialog">
        <div class="am-modal-bd">
            <i class="am-icon-refresh am-icon-spin"></i>
          正在确认订单，请稍候~
        </div>
      </div>
    </div>
    <script>
        jQuery.fn.getCheckboxVal = function(){
            var vals = [];
            var i = 0;
            this.each(function(){
                vals[i++] = jQuery(this).val();
            });
            return vals;
        };

        function show_alert(content) {
            vm.alert_content = content;
            $("#alert").modal();
        }
        var vm = avalon.define({
            $id: "submit_order",
            name: "",
            phone: "",
            address: "",
            remark: "",
            alert_content: "",
            delivery_time: [],
            order_delivery_time: [],
            pay_method: "",
            total_price: 0,
            total_number: 0,
            need_freight: false,
            freight: 0,
            vip_discount: false,
            activity_discount: false,
            vip_discount_amount: 0,
            activity_discount_amount: 0,
            submit_order: function () {
                if(vm.name.length < 2){
                    show_alert('请输入正确的姓名');
                    return
                }
                if(vm.phone.length != 11){
                    show_alert("请输入正确的11位手机号码");
                    return
                }
                if(vm.address <= 3){
                    show_alert("请输入正确的地址");
                    return
                }
                vm.order_delivery_time = $("input[name='delivery_time']:checked").getCheckboxVal();
                if(vm.order_delivery_time.length == 0){
                    show_alert("请至少选择一个送货时间");
                    return
                }

                $('#pay_alert').modal();
                if($("#COD").parent().attr("class").indexOf("checked") >= 0){
                    vm.pay_method = "COD";
                }
                else{
                    vm.pay_method = "alipay";
                }
                $.ajax({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token());
                    },
                    url: "/api/v1/order/",
                    method: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        pay_method: vm.pay_method,
                        name: vm.name,
                        phone: vm.phone,
                        address: vm.address,
                        remark: vm.remark,
                        delivery_time: vm.order_delivery_time,
                        shop_id: default_shop_id
                    }),
                    dataType: "json",
                    success: function(json){
                        if(json.pay_method == "alipay"){
                            pingpp.createPayment(json.charge, function(result, err) {})
                        }
                    }
                })

            }
        });

        var default_shop_id = get_cookie("default_shop_id");
        if(default_shop_id == ""){
            window.location.href="/";
        }

        //获取商品数量和总价
        $.ajax({
            url: "/api/v1/shopping_cart/?shop_id=" + get_cookie("default_shop_id"),
            method: "get",
            dataType: "json",
            success: function (json) {
                vm.total_price = json.total_price;
                vm.total_number = json.total_number;
                vm.need_frieght = json.need_freight;
                vm.freight = json.freight;
                vm.activity_discount = json.activity_discount;
                vm.activity_discount_amount = json.activity_discount_amount;
                vm.vip_discount = json.vip_discount;
                vm.vip_discount_amount = json.vip_discount_amount;


                if(vm.total_price == 0){
                    alert("购物车为空，不能提交");
                }
            }
        });

        //获取历史订单的地址信息等
        $.ajax({
            url: "/api/v1/order/?data=history_info",
            method: "get",
            dataType: "json",
            success: function (json) {
                vm.name = json.name;
                vm.phone = json.phone;
                vm.address = json.address;
            }
        });
        //获取商店的送货时间列表
        $.ajax({
            url: "/api/v1/shop/?shop_id=" + get_cookie("default_shop_id"),
            method: "get",
            dataType: "json",
            success: function(json){
                vm.delivery_time = json.delivery_time;
                $('input').iCheck({
                    radioClass: 'iradio_square-blue',
                    checkboxClass: 'icheckbox_square-blue'
                });
            }
        })

    </script>
</div>
{% endverbatim %}


{% endblock %}